@use "../variables" as *;

.ud-home-benefits {
  background-color: var(--white);

  .ud-card {
    &__title {
      color: var(--primary-color);
    }

    &__icon {
      background-color: var(--bg-light);

      img {
        height: 108px;
        width: 108px;

        @media #{$xs, $sm} {
          height: 84px;
          width: 84px;
        }
      }
    }
  }
}
