@use "../variables" as *;

.ud-home-challenges {
  background-color: var(--bg-light);

  .ud-home-section {
    &__title {
      color: var(--ud-home-clients-text-color);
    }

    &__subtitle {
      color: var(--text-gray);
    }
  }

  .ud-card {
    border: var(--ud-home-card-border);
    box-shadow: none;

    &__title {
      color: var(--ud-home-clients-text-color);
    }

    &__icon {
      background-color: var(--amber);
      height: 170px;
      margin-bottom: 32px;
      width: 170px;

      img {
        height: 68%;
        max-height: 68%;
        max-width: 68%;
        width: 68%;
      }

      @media #{$xs, $sm} {
        height: 150px;
        width: 150px;

        img {
          height: 66%;
          max-height: 66%;
          max-width: 66%;
          width: 66%;
        }
      }
    }

    &__body {
      p {
        color: var(--text-gray);
      }
    }
  }
}
