/* ===== Header CSS ===== */
.ud-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  @include transition(0.3s);
  background-color: #263238;
}

.navbar {
  padding: 32px 0;
}

.navbar-brand {
  padding: 0;

  @media #{$md, $xs} {
    padding: 0.2rem;
  }

  img {
    max-height: 54px;
  }
}

.navbar-collapse {
  @media #{$md, $xs} {
    position: absolute;
    top: 100%;
    right: 0;
    max-width: 300px;
    width: 100%;
    background-color: var(--white);
    z-index: 9;
    @include box-shadow(0px 15px 20px 0px rgba(0, 0, 0, 0.1));
    padding: 0px;
    display: none;
    border-radius: 5px;

    &.show {
      display: block;
    }
  }
}

.navbar-nav {
  @media #{$md, $xs} {
    padding: 20px 30px;
  }

  display: flex;
  align-items: center;
  gap: 24px;

  & .nav-item {
    position: relative;

    & > a {
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      @include transition(0.3s);
      padding: 12px 0;
      position: relative;

      @media #{$md, $xs} {
        display: block;
        padding: 8px 0;
        color: var(--heading-color);
      }

      &:hover,
      &.active {
        color: var(--white);
        opacity: 0.5;

        @media #{$md, $xs} {
          color: var(--primary-color);
          opacity: 1;
        }
      }
    }

    .link-button {
      background-color: #00a3be;
      color: #263238;
      height: 44px;
      border-radius: 32px;
      font-weight: 600;
      padding: 0 24px;
      position: relative;
      display: flex;
      align-items: center;

      &::after {
        content: '';
        position: absolute;
        inset: 4px;
        border: 1px solid #00dbff;
        border-radius: 20px;
      }
    }

    &:hover {
      & > a {
        color: var(--white);
        opacity: 0.5;

        @media #{$md, $xs} {
          color: var(--primary-color);
          opacity: 1;
        }
      }
    }

    &.nav-item-has-children {
      margin-right: 24px;

      & > a {
        position: relative;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid white;
          top: 50%;
          right: -20px;
          transform: translateY(-50%);
        }
      }
    }
  }

  #customer-area-link {
    margin-left: 16px;
  }
}

.navbar-btn {
  @media #{$md, $xs} {
    position: absolute;
    top: 50%;
    right: 50px;
    @include transform(translateY(-50%));
  }

  .ud-main-btn {
    padding: 8px 16px;
    background: transparent;
  }

  .ud-login-btn {
    &:hover {
      opacity: 0.5;
    }
  }

  .ud-white-btn {
    background: rgba(255, 255, 255, 0.2);

    &:hover {
      background: rgba(255, 255, 255, 1);
      color: var(--heading-color);
    }
  }
}

.selector {
  position: relative;
  padding: 12px 0;
  cursor: pointer;

  &:hover {
    & > .ud-submenu {
      opacity: 1;
      visibility: visible;
      top: 125%;
    }
  }

  button {
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 16px;

    img {
      width: 24px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid white;
      margin-top: 2px;
    }
  }

  .ud-submenu {
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 8px solid #00abcb;
    }

    position: absolute;
    width: 128px;
    background: var(--white);
    top: 100%;
    padding: 8px 16px;
    box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    @include transition(0.3s);

    display: flex;
    flex-direction: column;
    gap: 8px;

    @media #{$md, $xs} {
      position: static;
      box-shadow: none;
      width: 100%;
      padding: 0px;
      opacity: 1;
      visibility: visible;
      display: none;
    }

    &.show {
      display: flex;
    }

    .ud-submenu-link {
      color: var(--heading-color);

      display: flex;
      align-items: center;
      gap: 8px;

      img {
        width: 24px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      span {
        text-transform: uppercase;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}