/* ===== Header CSS ===== */
.skip-to-content {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 999;
  padding: 12px 24px;
  background-color: var(--secondary-color);
  color: var(--color-dark);
  font-weight: 600;
  text-decoration: none;
  border-radius: 0 0 8px 0;

  &:focus {
    left: 0;
    outline: 3px solid var(--focus-color);
    outline-offset: 2px;
  }
}

.ud-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
  @include transition(0.3s);
  background-color: var(--color-dark);
}

.navbar {
  padding: 32px 0;
}

.navbar-brand {
  padding: 0;

  &:focus {
    outline: 3px solid var(--focus-color);
    outline-offset: 4px;
    border-radius: 4px;
  }

  img {
    max-height: 54px;

    @media #{$lg} {
      max-height: 40px;
    }
  }
}

.navbar-nav {
  display: flex;
  gap: 24px;
  align-items: center;

  @media #{$laptop} {
    gap: 16px;
  }

  @media #{$lg} {
    gap: 12px;
  }

  @media #{$md, $xs} {
    gap: 4px;
    align-items: start;
  }

  & .nav-item {
    position: relative;

    & > a {
      font-size: 18px;
      font-weight: 400;
      color: var(--white);
      @include transition(0.3s);
      padding: 12px 0;
      position: relative;

      &:focus {
        outline: 3px solid var(--focus-color);
        outline-offset: 4px;
        border-radius: 4px;
      }

      &:hover:not(.link-button),
      &.active:not(.link-button) {
        color: var(--white);
        opacity: 0.5;
      }
    }

    &:hover {
      & > a:not(.link-button) {
        color: var(--white);
        opacity: 0.5;
      }
    }

    &.nav-item-has-children {
      & > a {
        position: relative;
        padding-right: 20px;

        &::after {
          content: "";
          position: absolute;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-top: 7px solid white;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }
    }

    .link-button {
      background-color: var(--secondary-color);
      color: var(--color-dark);
      height: 44px;
      border-radius: 32px;
      font-weight: 600;
      padding: 0 24px;
      position: relative;
      display: flex;
      align-items: center;

      @media #{$lg, $xs} {
        padding: 0 16px;
      }

      &:focus {
        outline: 3px solid var(--focus-color);
        outline-offset: 4px;
      }

      &:hover {
        color: var(--color-dark);
        filter: brightness(1.25);
      }

      &::after {
        content: '';
        position: absolute;
        inset: 4px;
        border: 1px solid var(--focus-color);
        border-radius: 20px;
      }
    }
  }
}

#customer-area-link {
  margin-left: 24px;

  @media #{$laptop} {
    margin-left: 12px;
  }

  @media #{$lg} {
    margin-left: 8px;
  }

  @media #{$md, $xs} {
    margin-left: auto;
    margin-right: auto;
  }

  .button-icon {
    display: none;
  }

  @media #{$lg} {
    .button-text {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border-width: 0;
    }

    .button-icon {
      display: inline;
    }
  }
}

.navbar-collapse {
  flex-grow: 0;

  @media #{$md, $xs} {
    position: fixed;
    top: 118px;
    left: 0;
    width: 100vw;
    background-color: var(--color-dark);
    z-index: 9;
    @include box-shadow(0px 15px 20px 0px rgba(0, 0, 0, 0.1));
    padding: 0 8px 16px;
    display: none;
    color: var(--color-dark);

    &.show {
      display: block;
    }
  }
}

.navbar-toggler {
  padding: 0;
  border: none;
  background: transparent;

  &:focus {
    outline: 3px solid var(--focus-color);
    outline-offset: 4px;
    border-radius: 4px;
  }

  & .toggler-icon {
    width: 30px;
    height: 2px;
    background-color: var(--white);
    display: block;
    margin: 5px 0;
    position: relative;
    @include transition(0.3s);
  }

  &.active {
    & .toggler-icon {
      &:nth-of-type(1) {
        @include transform(rotate(45deg));
        top: 7px;
      }

      &:nth-of-type(2) {
        opacity: 0;
      }

      &:nth-of-type(3) {
        @include transform(rotate(135deg));
        top: -7px;
      }
    }
  }
}

.selector {
  position: relative;
  padding: 12px 0;
  cursor: pointer;

  &:hover {
    & > .ud-submenu {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
  }

  button {
    background: none;
    border: none;
    color: white;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 16px;
    cursor: pointer;

    &:focus {
      outline: 3px solid var(--focus-color);
      outline-offset: 4px;
      border-radius: 4px;
    }

    img {
      width: 24px;
      aspect-ratio: 1/1;
      border-radius: 50%;
    }

    &::after {
      content: "";
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 7px solid white;
      margin-top: 2px;
    }
  }

  .ud-submenu {
    &::before {
      content: '';
      position: absolute;
      top: -8px;
      left: 50%;
      transform: translateX(-50%);
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 8px solid var(--secondary-color);
    }

    z-index: 100;

    position: absolute;
    width: 128px;
    background: var(--white);
    top: 100%;
    margin-top: 16px;
    padding: 8px 16px;
    box-shadow: 0 15px 44px rgba(140, 140, 140, 0.18);
    border-radius: 8px;
    opacity: 0;
    visibility: hidden;
    left: 50%;
    transform: translateX(-50%);
    @include transition(0.3s);

    display: flex;
    flex-direction: column;
    gap: 8px;
    
    &::after {
      content: '';
      position: absolute;
      top: -16px;
      left: 0;
      right: 0;
      height: 16px;
    }

    &.show {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }

    .ud-submenu-link {
      color: var(--heading-color);

      display: flex;
      align-items: center;
      gap: 8px;

      &:focus {
        outline: 2px solid var(--secondary-color);
        outline-offset: 2px;
        border-radius: 4px;
      }

      img {
        width: 24px;
        aspect-ratio: 1/1;
        border-radius: 50%;
      }

      span {
        text-transform: uppercase;
      }

      &:hover {
        color: var(--primary-color);
      }
    }
  }
}