/* ===== Hero CSS ===== */

.ud-hero {
  background: var(--primary-color);
  padding-top: 192px;

  @media #{$xs} {
    padding-top: 144px;
  }
}

.ud-hero-content {
  max-width: 636px;
  margin-bottom: 192px;

  @media #{$xs, $sm} {
    margin-bottom: 144px;
  }

  .ud-hero-title {
    color: var(--text-light);
    font-weight: bold;
    font-size: 64px;
    margin-bottom: 30px;

    @media #{$sm} {
      font-size: 48px;
    }

    @media #{$xs} {
      font-size: 36px;
    }
  }

  .ud-hero-desc {
    font-weight: medium;
    font-size: 22px;
    color: var(--text-light);
    max-width: 636px;
    margin-bottom: 72px;

    @media #{$xs} {
      font-size: 18px;
    }
  }
}

.clients {
  margin-top: 84px;
  margin-bottom: 36px;

  @media #{$xs} {
    margin-top: 60px;
  }

  .headline p {
    font-weight: bold;
    font-size: 48px;
    text-align: center;
    color: var(--text-gray);
    line-height: normal;

    @media #{$xs} {
      font-size: 36px;
    }
  }

  .secondary p {
    font-size: 48px;
    text-align: center;
    color: var(--text-gray);
    line-height: normal;
    margin-top: 72px;

    @media #{$xs} {
      font-size: 36px;
      margin-top: 32px;
    }

    @media #{$sm} {
      margin-top: 36px;
    }
  }

  .logos {
    margin-top: 72px;

    @media #{$xs, $sm} {
      margin-top: 0;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.ud-hero-buttons {
  .ud-main-btn {
    background-color: var(--accent-color);
    padding: 12px 16px;
    border-radius: 32px;
    font-size: 18px;
    font-weight: bold;

    &:hover {
      filter: brightness(1.25);
    }
  }

  .ud-secondary-btn {
    background: transparent;
    border: 1px solid var(--white);
    padding: 12px 16px;
    border-radius: 32px;
    font-size: 18px;
    color: var(--white);
    font-weight: bold;

    &:hover {
      background: var(--white);
      color: var(--primary-color);
    }
  }

  .ud-link-btn {
    &:hover {
      color: var(--white);
      background: transparent;
      opacity: 0.5;
    }
  }
}

.ud-hero-brands-wrapper {
  text-align: center;
  margin-bottom: 40px;

  img {
    transition: all 0.3s;
    opacity: 0.5;
    max-width: 250px;

    &:hover {
      opacity: 1;
    }
  }
}

.ud-hero-image {
  max-width: 845px;
  margin: auto;
  text-align: center;
  position: relative;
  z-index: 1;

  img {
    max-width: 100%;
    text-align: center;
  }

  .shape {
    position: absolute;
    z-index: -1;

    &.shape-1 {
      bottom: 0;
      left: -30px;
    }

    &.shape-2 {
      top: -20px;
      right: -20px;
    }
  }
}
