@use "variables" as *;
/* ===== Pricing CSS =====*/

.ud-single-pricing {
  margin-bottom: 40px;
  background: var(--white);
  border: 2px solid var(--border-light);
  border-radius: 8px;
  text-align: center;
  padding: 45px 30px;
  position: relative;
  display: flex;
  flex-direction: column;

  &.first-item::after,
  &.last-item::after {
    content: "";
    position: absolute;
    width: 55px;
    height: 55px;
    z-index: 1;
  }

  &.first-item::after {
    background: var(--primary-color);
    left: -2px;
    bottom: -2px;
    border-radius: 0px 55px 0px 8px;
  }

  &.last-item::after {
    background: var(--primary-dark);
    top: -2px;
    right: -2px;
    border-radius: 0px 8px 0px 55px;
  }

  .ud-pricing-header {
    h3 {
      font-weight: 600;
      font-size: 18px;
      color: var(--heading-color);
      margin-bottom: 8px;
    }
    h4 {
      font-weight: 600;
      font-size: 26px;
      color: var(--primary-color);
      margin-bottom: 40px;
    }
  }

  .ud-pricing-tagline {
    color: var(--text-muted);
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 0;
  }

  .ud-pricing-body {
    margin-bottom: 40px;

    li {
      font-weight: 500;
      font-size: 15px;
      margin-bottom: 18px;
    }
  }

  .ud-pricing-footer {
    margin-top: auto;
    padding-top: 32px;
  }
}
